
///*PAGE*/
html, body {
  font-family: $font-primary;
  font-size: $font-size-base;
}
// ## PAGE
// ## HEADINGS
h1,h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4 {
  // font-family:  $font-primary;
  font-weight:  100;

  &.strong, strong {
    font-weight: 400;
  }
}
h3, .h3{
  border-bottom: 1px dotted $default-border-color;
}
// ## TYPE
small{
  font-size: 0.8em;
}


// ## LINKS
a, a:link, a:visited {
  color           : $text-color;
  text-decoration : none;
  transition      : $default-transition;
}
a:hover,a:active {
  color           : $od-brand-primary;
  text-decoration : none;
}
.link--contratipo {
  &, &:link, &:visited{
    color: $text-contratipo;
  }
  &:hover, &:active, &:focus {
    color: $od-brand-primary;
  }
}
// ## LISTS


ul, li{
  @include reset;
}
ul{
  list-style: none;
}

// ## TABLES
thead, tbody, tfoot, tr, th, td{
  padding: inherit;
}
td {
  border-bottom: 1px solid $default-border-color;
}

// ## QUOTES
//## SELECTIONS
//## SELECTIONS
::selection {
  background: $turquesa;
  color: #fff;
}
//## FORMS
label{
  margin-bottom: 0;
  //sobreescribimos el de bootstrap
}
:focus{
  outline:none;
}
