/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@mixin reset() {
	margin: 0;
	padding: 0;
}
// ***********************************************************
// ## MIXINS BOTONES
// ***********************************************************
// MIXIN DEL OUTLINE CUANDO EL BOTON TIENE EL FOCUS O ES ACTIVO
@mixin tab-focus() {
  // Default
  outline: thin dotted $od-brand-primary;
  // WebKit
  outline: 5px auto $od-brand-primary;
  outline-offset: -2px;
}
// MIXIN VARIACIONES COLORES BOTONES
@mixin od-button-variant($background, $border, $hover:null) {
  background-color: $background;
  border-color: $border;
  &:focus,
  &.focus {
    border-color: darken($border, 25%);
    @if ($hover){
     background-color: $hover;


     } @else {
      background-color: darken($background, 10%);
    }
  }
  &:hover {
    border-color: darken($border, 12%);
    @if ($hover){
     background-color: $hover;
     color: set-text-color($hover);
     } @else {
      background-color: darken($background, 10%);
    }
  }
  &.od-btn--disabled,
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      // extendemos la clase .is--disabled
       @include  disabled();
      background-color: desaturate($background, 30%);
      border-color: desaturate($border,10%);
    }
  }
}
//  MIXIN DE VARIACIÓN DE TAMAÑOS DE LOS BOTONES
@mixin od-button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}
@mixin od-button-rounded-size ($tam:1em){
  font-size: $tam;
  padding: 0;
  text-align: center;
   //el icono de dentro no debe de tener margin
   .od-icon{
    margin: 0;
  }
  @if $tam > 1.6em {
    min-width: $tam;
    min-height: $tam;
    max-width: $tam;
    max-height: $tam;
    width: $tam;
    height: $tam;
    line-height: $tam/2;
  }
  @else {
    min-width: ceil(ceil(($tam * 1.5)/2)*2);
    min-height: ceil(ceil(($tam * 1.5)/2)*2);
    max-width: ceil(ceil(($tam * 1.5)/2)*2);
    max-height: ceil(ceil(($tam * 1.5)/2)*2);
    width: ceil(ceil(($tam * 1.5)/2)*2);
    height: ceil(ceil(($tam * 1.5)/2)*2);
    line-height:($tam * 1.5)/2;
  }
}


//mixin que incluye el código que no sea seleccionble un elemento
@mixin unselectable {
  user-select:none;
  cursor:default;
}