﻿//este archivo se encarga de que los modales de jquery-ui extiendan los dialogs de la aplicación
// EL esqueleto del dialog  de jquery ui es la siguiente
// ui-dialog: The outer container of the dialog.
// 		ui-dialog-titlebar: The title bar containing the dialog's title and close button.
// 			ui-dialog-title: The container around the textual title of the dialog.
// 			ui-dialog-titlebar-close: The dialog's close button.
// 		ui-dialog-content: The container around the dialog's content. This is also the element the widget was instantiated with.
// 		ui-dialog-buttonpane: The pane that contains the dialog's buttons. This will only be present if the buttons option is set.
// 			ui-dialog-buttonset: The container around the buttons themselves.
.ui-dialog {
    @extend .od-dialog;
    border-color: $gris-medio-claro !important;
    border-radius: 0 !important;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) !important;
}

.ui-dialog-titlebar {
    @extend .od-dialog__header;
    border-bottom: 1px dotted $text-color;
    margin: 0 $default-padding;
    background: none !important;
    color: $text-color !important;
    //estas propiedades hay que sobreescribirlas a lo bruto
    padding: $default-padding !important;
    padding-bottom: $default-padding/3 !important;
    padding-left: 0 !important;
}

.ui-dialog-title {
    @extend .od-dialog__title;
    // font-weight: bold;
    font-size: 1.2em;
    //estas propiedades hay que sobreescribirlas a lo bruto
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1em!important;
}

.ui-dialog-titlebar-close {
    //TODO: posiblemente esto tenga que hacerlo HUGO
    // @extend .od-btn;
    // @extend .od-btn--close;
}

.ui-dialog-content {
    @extend .od-dialog__body;
    //estas propiedades hay que sobreescribirlas a lo bruto
    overflow: hidden!important;
}

.ui-dialog-buttonpane {
    @extend .od-dialog__footer;
    .ui-button {
        @extend .od-btn;
        @extend .od-btn--sm;
        //TODO: HABRÍA POSIBLIDAD DE QUE EL COLOR SE LO DEN DESDE LA PARTE DE PROGRAMACIÓN???
        @extend .od-btn--primary;
        background: $od-brand-primary!important;
        color: set-text-color($od-brand-primary)!important;
        opacity: 1 !important;
        &:hover,
        &:focus {
            color: set-text-color($od-brand-primary)!important;
            background: darken($od-brand-primary, 25%)!important;
            border-color: darken($od-brand-primary, 25%)!important;
        }
    }
    .ui-button-text {
        @include reset;
    }
}

.ui-button-text {
    display: none;
}

//los botones de la barra
//por defecto
.ui-state-default,
.ui-widget-content .ui-state-default,
{
    // @include reset;
    background: none;
    border: none;
    // text-align   : center;
    // color        : #fff;
    // font-size    : 15.6px;
    // opacity      : .6;
    // margin-left  : $default-padding/2;
    transition: $default-transition;
    //estados
    &:focus,
    &.focus,
    &:hover,
    &.hover {
        // opacity     : 1;
        // outline     : none;
        // text-shadow : $default-shadow
    }
}

.ui-widget-header .ui-state-default {
    // display: none;
}

.ui-widget-overlay {
    background: rgba($azul-dark, 0.5) !important;
}

//el boton de close de los dialogs
.ui-dialog-titlebar-close {
    // outline:1px solid red;
    content: "+";
    display: block;
    color: $text-color!important;
    &:before {
        content: "+";
        display: block;
        font-family: $font-primary;
        font-size: 3em;
        font-weight: 100;
        transform: rotate(45deg);
        position: absolute;
        top: -20px;
        left: -3px;
    }
    &:focus,
    &.focus,
    &:hover,
    &.hover {
        color: $od-brand-primary!important;
    }
}
