/*
g[id^=d] {
  cursor: pointer;
}
.axis__x, .axis__y {
  stroke: red;
  stroke-width:2;
}

.ui-dialog {
  background: white;
  border-color: #353535;
  border:1px solid;
  overflow: hidden;
}
.ui-widget-overlay  {
   background:rgba(255,255,255,0.5);
}
*/
