.od-media {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1em;
    color: inherit;
    margin: 0 $default-padding;
}

.od-media__image {
    margin-right: 1em;
    min-width: 52px; //no estoy seguro de que esto sea de todos los media object
    display: flex;
    flex-direction: column;
    flex: 0;
}

.od-media__body {
    flex: 1;
    // display: block;
}

.od-media__body,
.od-media__body:last-child {
    // margin-bottom: 0;
}

.od-media__title {
    margin: 0;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1;
    &--readonly{
        color: $naranja;
    }
}

.od-media__text {
    margin-top: 0px;
    font-size: 0.8em;
    margin-bottom: 0;
}

.od-media--center {
    align-items: center;
}

.od-media--reverse > .od-media__image {
    order: 1;
    margin: 0 0 0 1em;
}

.od-media__options {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    &--left{
       justify-content: flex-start;
    }
    // TODO METER ESTO DENTRO DE BOTONES.sCSS
    .od-btn {
        margin: 0;
        margin-left: $default-padding;
        width: 30px;
        height: 30px;
        line-height: 20px;
        img {
            width: 20px;

        }
    }
}
