%basic-btn {
    font-family: $font-secondary;
    border: 1px solid $text-color;
    transition: $default-transition;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    padding: $padding-base-vertical $padding-base-horizontal;
    font-size: $font-size-base;
    border: 1px solid transparent;
   @include unselectable;
    cursor: pointer; // el unselectable hace que el texto no se pueda seleccionar pero también le ppone un cursor de

    margin-bottom: 0;
    color: $text-color !important;
    .od-icon {
        margin: 0;
        margin-right: .5em;
        font-size: 1.2em;
    }
    //estados de activo para ponerle un outline (A TODOS MENOS A LOS REDONDOS)
    &,
    &:active,
    &.active {
        &:focus,
        &.focus {
            @include tab-focus;
        }
    }
}

.od-btn {
    @extend %basic-btn;
}

//## TAMAÑOS DE BOTONES
// en el mixin normal le añadimos la condicion que no sea redondos  solo para las propiedades que toca el mixin: padding, font-size, line-height y border-radius
.od-btn--lg {
    &:not(.od-btn--rounded) {
        @include od-button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, 1px);
    }
    &.od-btn--rounded {
        @include od-button-rounded-size (2em);
    }
}

.od-btn--sm {
    &:not(.od-btn--rounded) {
        @include od-button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, 1px);
    }
    &.od-btn--rounded {
        @include od-button-rounded-size (1.25em);
    }
}

.od-btn--xs {
    &:not(.od-btn--rounded) {
        @include od-button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, 0px);
    }
    &.od-btn--rounded {
        @include od-button-rounded-size (0.8em);
        img{
        	width: 1.1em;
        }
    }
}

//## VARIACIONES DE COLOR
// el mixin pide colores de (fondo, borde)
.od-btn--default {
    color: $od-brand-primary;
    @include od-button-variant($main-bgcolor, $od-brand-primary);
}

.od-btn--link {
    color: $od-brand-primary;
    @include od-button-variant(transparent, transparent);
    &:focus,
    &.focus {
        border-bottom-color: darken($od-brand-primary, 25%);
    }
    &:hover {
        border-bottom-color: darken($od-brand-primary, 12%);
    }
}

.od-btn--primary {
    color: set-text-color($od-brand-primary);
    @include od-button-variant($od-brand-primary, $od-brand-primary);
}

.od-btn--info {
    color: set-text-color($secondary-color);
    @include od-button-variant($secondary-color, $secondary-color);
}

.od-btn--success {
    color: set-text-color($success-color);
    @include od-button-variant($success-color, $success-color);
}

.od-btn--danger {
    color: set-text-color($danger-color);
    @include od-button-variant($danger-color, $danger-color);
}

.od-btn--warning {
    color: set-text-color($warning-color);
    @include od-button-variant($warning-color, $warning-color);
}

//## BOTON CLOSE
.od-btn--close {
    @include reset;
    float: right;
    background: transparent;
    color: inherit;
    opacity: .6;
    margin: 0;
    text-align: center;
    font-size: 1em;
    line-height: 1;
    margin-top: .25rem;
    margin-left: $default-padding;
    // transition:$default-transition;
    //estados
    &:focus,
    &.focus,
    &:hover,
    &.hover {
        opacity: 1;
        outline: none;
        text-shadow: $default-shadow
    }
    //hay que eliminar los margenes y padding del icono de dentro
    .od-icon {
        @include reset;
    }
}

.od-btn--rounded {
    text-align: center;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    line-height: 20px;
    padding: 0;
    outline: none !important;
    //estados
    &:focus,
    &.focus,
    &:hover,
    &.hover {
        opacity: 1;
        outline: none;
        text-shadow: $default-shadow
    }
}

.od-btn--outlined {
    i {
        border: 1px solid $text-color;
        transition: $default-transition;
    }
    &:hover:not(.od-btn--disabled) {
        i {
            color: #fff;
            background: $text-color;
        }
    }
}

//BOTONES DE ICONO y de la toolbar
.od-toolbar__btn {
    // flex: 1 0 60px;
    width: 60px;
    // height: 40px;
    overflow: hidden;
    text-align: center;
    padding-top: $default-padding/2;
    background: transparent;
    color: $text-contratipo;
    border: none;
    font-size: .7em;
    cursor: pointer;
    // outline:1px solid red;
    transition: $default-transition;
}

.od-btn__ico {
    padding: $default-padding/4;
    width: 30px;
    height: 30px;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
    transition: $default-transition;
    border-radius: 2px;
    border: 1px solid transparent;
    .od-toolbar__btn:hover & {
        box-shadow: 0px 0px 4px rgba(255, 255, 255, .6);
        border-color: rgba($turquesa, 0.7);
    }
}

.od-btn__text {
    max-height: 2.2em;
    display: block;
}

//ESTADOS DE LOS BOTONES
.od-btn--disabled {
     @include  disabled();
}

.od-btn--active {
    .od-btn__ico {
        background:#fff;
        // background: rgba(0, 0, 0, .8);
        //sobreescribe el borde del hover
        border-color: $od-brand-primary !important;
    }
}

//BOTONES DE FAVORITOS
.od-btn--star {
    //display:none;
  background: url('#{$img-path}svg/ui/star.svg');
  background-position: center;
  background-size: cover;
  display: inline-block;
margin-left: .5em;
max-height: 1.5em !important;
max-width: 1.5em !important;
min-height: 1.5em !important;
min-width: 1.5em !important;
margin-top: -5px;
position: absolute;
right:$default-padding/2;
top: calc(50% - 1em + #{$default-padding});
  // outline:1px solid red !important;

}
.od-btn--checked{
  background: url('#{$img-path}svg/ui/star-filled.svg');
    background-position: center;
  background-size: cover;
}