﻿// EL esqueleto del dialog  de jquery ui es la siguiente
// ui-dialog: The outer container of the dialog.
// 		ui-dialog-titlebar: The title bar containing the dialog's title and close button.
// 			ui-dialog-title: The container around the textual title of the dialog.
// 			ui-dialog-titlebar-close: The dialog's close button.
// 		ui-dialog-content: The container around the dialog's content. This is also the element the widget was instantiated with.
// 		ui-dialog-buttonpane: The pane that contains the dialog's buttons. This will only be present if the buttons option is set.
// 			ui-dialog-buttonset: The container around the buttons themselves.
//en 08_wins/_jquery-ui-dialogs.scss está la aplicación
%od-dialog {
    //estilos de la ventana en general
    @include reset;
    background: #fff;
    box-shadow: $wide-shadow;
    border-radius: $border-radius-base;
    border: 1px solid $default-border-color;
    font-family: $font-primary;
    font-size: $font-size-base;
    color: $text-color;
}

%od-dialog__header {
    //la barra de la cabecera
    background: $od-brand-primary;
    color: set-text-color($od-brand-primary);
    padding: $default-padding/2;
    padding-bottom: $default-padding/3;
    padding-left: $default-padding;
    border-top-left-radius: $border-radius-base;
    border-top-right-radius: $border-radius-base;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    font-family: $font-primary;
    font-weight: 100;
}

%od-dialog__header__btnset {
    //botonera de la barra
    @include reset;
    float: right;
    //los botones de dentro
    .od-btn {
        @include reset;
        background: transparent;
        color: inherit;
        opacity: .8;
        margin: 0;
        text-align: center;
        font-size: 1em;
        line-height: 1;
        margin-top: .25rem;
        margin-left: $default-padding/3;
        // transition:$default-transition;
        //estados
        &:focus,
        &.focus,
        &:hover,
        &.hover {
            opacity: 1;
            outline: none;
            text-shadow: $default-shadow
        }
        //hay que eliminar los margenes y padding del icono de dentro
        .od-icon {
            @include reset;
        }
    }
}

%od-dialog__title {
    //titulo que está en la barra
    @include reset;
    border: 0;
    font-size: ceil(($font-size-base * 1.5));
}

%od-dialog__body {
    //cuerpo de la ventana
    padding: $default-padding;
    color: inherit;
}

%od-dialog__footer {
    //pie de la ventana
    padding: $default-padding;
    border: none;
}

%od-dialog__btnset {
    //botonera del pie.
    // habrá que hacer clases para que  la botonera vaya a al izquda, derecha o centro
    text-align: right;
}

//## VARIACIONES DE COLOR
.od-dialog--info {
    .od-dialog__header {
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

.od-dialog--danger {
    .od-dialog__header {
        background: $danger-color;
        color: set-text-color($danger-color);
    }
}

.od-dialog--warning {
    .od-dialog__header {
        background: $warning-color;
        color: set-text-color($warning-color);
    }
}

.od-dialog--success {
    .od-dialog__header {
        background: $success-color;
        color: set-text-color($success-color);
    }
}

.od-dialog--dragging {
    opacity: 0.5;
}

//EXTENDEMOS TODAS LAS CLASES ANTERIORES PARA QUE PUEDAN TAMBIÉN SER EXTENDIDAS EN lA PARTE DE 08_WINS
.od-dialog {
    @extend %od-dialog;
}

.od-dialog__header {
    @extend %od-dialog__header;
}

.od-dialog__header__btnset {
    @extend %od-dialog__header__btnset;
}

.od-dialog__title {
    @extend %od-dialog__title;
}

.od-dialog__body {
    @extend %od-dialog__body;
}

.od-dialog__footer {
    @extend %od-dialog__footer;
}

.od-dialog__btnset {
    @extend %od-dialog__btnset;
}

// VARIACIONES PARA LOS DISTINTOS TIPOS DE DIALOGS
.pop-tooth {
    background: $azul-focus !important;
    .ui-dialog-content {
        padding: $default-padding 100px !important;
        text-align: center;
    }
}

.pop-history {
    background: white !important;
    .ui-dialog-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding: $default-padding !important;
    }
    //efecto de fade in al pulsar
    transition: opacity $default-transition;
    &--mousedown{
		opacity: 0.2;
		outline:1px solid $od-brand-primary;
	}
}

.pop-history__img {
    display: inline-block;
    flex: 1;
    // outline:1px solid red;
}

.pop-history__text {
    display: inline-block;
    flex: 0 0 300px;
    // outline:1px solid yellowgreen;
}

.pop-history__heading {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 1.5em;
    &:first-child {
        //al primero no le ponemos margen superior
        margin-top: 0;
    }
}

.pop-history__p {
    margin-top: 0;
}
