textarea {
	border-color:rgba($text-color, 0.5);
	background: rgba(255,255,255,0.8);
	transition: background $default-transition;
	padding: $default-padding;
	width: 90%;
	&:focus {
		background: #fff;
		border: 1px solid $secondary-color;
	}
}
.od-formgroup {
	// outline:1px solid red;
	padding-right: $default-padding*2;
	display: flex;

}