.od-thumbnail {
	width: 50px;
	height: 50px;
	border:1px solid  $gris-claro;
	background-size: cover;
	background-image: url(#{$img-path}img/user--default.svg);
	background-repeat: no-repeat;
	background-position: center;

}
.od-thumbnail--rounded{
	border-radius: 100%;
	overflow: hidden;
}