.od-list {
    .od-btn {
        display: inline-block;
        float: right;
        cursor: pointer;
    }
}

.od-list__item {
    margin-bottom: 2px;

}

//historico
//od-history es el li que es cada uno de los items
.od-history {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background $default-transition;
    padding: $default-padding/2;
    &:hover {
        background: rgba(#fff, 0.5);
        font-weight: bold;
        cursor:default;
    }
    >.od-btn{

    }
}
.od-history__id, .od-history__desc {

    display: inline-block;
    display: inline-flex;
	padding: 0 $default-padding/2;
	font-weight: inherit;
    line-height: 1;
}
.od-history__id{
    //40px es el ancho mínimo del campo
	flex:0 0 40px;
    font-size: 0.9em;

    font-weight: bold;
}
.od-history__desc{
	flex:1;
}