.menu-lateral {
	background: $azul-dark;
	color: $text-contratipo;
	padding: 0 10px;
}
.menu-lateral__header {
  margin: 20px 0px;
  margin-top: 10px;
  text-align: center;
  font-size: .9em;
}

.main-menu__item {
	position: relative;
	&>a{
		display: block;
		padding: 10px;
	}
}
.main-menu__item--submenu {
	background: $azul-darkest;
	//le ponemos una linea al ul de dentro
	>ul {
		border-top: 1px solid $text-contratipo;

	}
}
.submenu__item {
	position: relative;
	&>a {
		display: block;
		padding: 10px;
		padding-left: 30px;
	}
}

//Los iconos
.menu-lateral__icon {
	color: $turquesa;
	font-size: 1.5em;
	margin-left: -5px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;

}
//los enlaces son  una caja que ocupa todo el li
.main-menu__item >a, .submenu__item >a {
	@extend .link--contratipo;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	&:hover {
		background: $brand-primary;
		i {
			color: #fff;
		}
	}
}

//opción activa
.main-menu__item, .submenu__item {
	&--active{
		//enlace
		>a{
			text-transform: uppercase;
			color:#fff!important;
			&:hover {
				background: none;
			}
		}
		//triangulo
		&:after {
			content:"";
			position: absolute;
			top: 7px;
			right: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 11px 12px 11px 0;
			border-color: transparent $main-bgcolor transparent transparent;

		}
	}

}
//logo  y BOTON HOME
.main-logo {

	&:link, &:active {
		 text-transform: uppercase;
	font-family: $font-secondary;
	margin: 0 auto;
	display: block;
  color: $gris;
	@extend .link--contratipo;
	font-size: 1.2em;
	}
	&:hover, &:active, &:focus {

	}
}

.main-menu{
	// margin: 0 10px;
	flex: 1;
	display: flex;
	flex-direction: column;
}
.menu-lateral{
	/*display: flex;
	flex-direction: column;
	justify-content:space-between;*/
}
.od-container {
	// outline:1px solid red;
	// max-height: 300px;
	flex:1;
	padding-top: $default-padding;
	overflow-y: auto;
	flex: 1;
    padding-top: 10px;
}