﻿.od-notify{
	//BORRAR. Lo debería tener el container/stack de las notificaciones
	max-width: 350px;
	min-height: 120px;
	//FIN BORRAR
	border-radius:$border-radius-base;
	border:1px solid $default-border-color;
	padding: $default-padding/2;
	padding-left: $default-padding;
	box-shadow:$wide-shadow;
	margin-bottom: $default-padding/2;
	// TENDRÏA QUE TENER ALTO MÁXIMO?
}
.od-notify__header{
	margin-bottom: $default-padding/2;
	color: $od-brand-primary;
}
.od-notify__body{
	//los botones por defecto son pequeños. Si queremos, lo podemos quitar de aquí y entonces el tamaño habría que especificarlo en el HTML
	.od-btn{
		@extend .od-btn--sm;
		//posiblemente con notificaciones de color, queden mejor los botones en outline, pero es menos versátil
		// @extend .od-btn--outline;
	}
}
.od-notify__title{
	@include reset;
	font-size: ceil(($font-size-base * 1.5));
	font-weight: 400;
	display: flex;
	align-items: center;
	.od-icon{
		font-size: 1.25em;
		margin-right:$default-padding/2
	}
}

.od-notify__details{
	padding: $default-padding 0;
	&:hover{
		cursor: pointer;
	}
}

.od-notify__detailstext{
	overflow: hidden;
	padding: $default-padding;
}

//## VARIACIONES DE COLOR
.od-notify--primary{
	color: set-text-color($od-brand-primary);
	border: 1px solid darken($od-brand-primary,10%);
	background: $od-brand-primary;
	.od-notify__header{
		color: set-text-color($od-brand-primary);
	}
}


.od-notify--info{
	color: set-text-color($secondary-color);
	border: 1px solid darken($secondary-color,10%);
	background: $secondary-color;
	.od-notify__header{
		color: set-text-color($secondary-color);
	}
}
.od-notify--warning{
	color: set-text-color($warning-color);
	border: 1px solid darken($warning-color,10%);
	background: $warning-color;
	.od-notify__header{
		color: set-text-color($warning-color);
	}
}
.od-notify--danger{
	color: set-text-color($danger-color);
	border: 1px solid darken($danger-color,10%);
	background: $danger-color;
	.od-notify__header{
		color: set-text-color($danger-color);
	}
}
.od-notify--success{
	color: set-text-color($success-color);
	border: 1px solid darken($success-color,10%);
	background: $success-color;
	.od-notify__header{
		color: set-text-color($success-color);
	}
}
