%stroke--red{
	stroke:#aa0000;
	stroke-width:2;
	fill:none;
}
%stroke--blue{
	stroke:#028bca;
	stroke-width:2;
	fill:none;
}
%fill--red{
	fill:$op-red-color !important;
	stroke:none !important;
}
%fill--blue{
	fill:$op-blue-color !important;
	stroke:none;

}
html, body {
  font-family: $font-primary;
  font-size: $font-size-base;
}
.operation--disabled {
	 @include  disabled();
}

.od-op-txt{
	@include unselectable;
	pointer-events:none;
}
.od-op-txt--blue{
	fill:$txt-blue-color !important;
	stroke:none;
	font-weight: bold;
}

a.operation--drawing{
	opacity: .6!important;
}
.operation--red {
	*{

	@extend %fill--red;
	}
}
.operation--blue {
	@extend %fill--blue;
}
.operation-text--blue {
	@extend %stroke--blue;
}

.caries {
	@extend %fill--red;

}

.fractura{
	@extend %stroke--red;
	opacity: .9;
	stroke-width:3;
}
.tratpulpar{
	@extend %stroke--blue;
	stroke-width:2;
}

.restDef {
	@extend %fill--blue;

}

path.restTemp,polygon.restTemp {
	filter:url(#borderred);
}

path.sellantes,polygon.sellantes {
		filter:url(#borderblue);
}
