%stroke--red{
	stroke:#aa0000;
	stroke-width:2;
	fill:none;
}
%stroke--blue{
	stroke:#028bca;
	stroke-width:2;
	fill:none;
}
%fill--red{
	fill:$op-red-color !important;
	stroke:none !important;
}
%fill--blue{
	fill:$op-blue-color !important;
	stroke:none;

}
.operation--disabled {
	 @include  disabled();
}
//los textos de los cuadrados
.od-op-txt{
	@include unselectable;
	pointer-events:none;
}
.od-op-txt--blue{
	fill:$txt-blue-color !important;
	stroke:none;
	font-weight: bold;
}
//es la clase que se aplica mientras se está dibujando un circulo o una line
a.operation--drawing{
	opacity: .6!important;
}
.operation--red {
	*{

	@extend %fill--red;
	}
}
.operation--blue {
	@extend %fill--blue;
}
.operation-text--blue {
	@extend %stroke--blue;
}
// 	03-Caries
.caries {
	@extend %fill--red;
	//opacity: .9;
}
//	15-fractura
.fractura{
	@extend %stroke--red;
	opacity: .9;
	stroke-width:3;
}
.tratpulpar{
	@extend %stroke--blue;
	stroke-width:2;
}
//  29-Restauracion Definitiva
.restDef {
	@extend %fill--blue;
	//opacity: .9;
}
//  30-Restauracion Temporal
path.restTemp,polygon.restTemp {
	filter:url(#borderred);
	//opacity: .9;
	//Hay una copia de esto en base para que funcione en firefox
}
//  31-Sellantes
path.sellantes,polygon.sellantes {
		filter:url(#borderblue);
}

.operation:not(.operation--click) {
	cursor:default;
	pointer-events:none;
}
.operation--click{
	cursor: pointer;
}
.operation--rotated{
	//transform:  rotate(180deg);
	//transform-origin: 50% 50%;
	//No funciona en IE, por lo que lo paso a JS
}