.od-radio {
    display: none;
}



.od-radio__label {
    display: inline-block;
    display: inline-flex;
    align-self: center;
    cursor: pointer;
    padding-bottom: $default-padding/2;
    background: linear-gradient(to right, $od-brand-primary 50%, $gris 50%);
    background-size: 203% 3px;
    background-repeat: no-repeat;
    background-position: 99% 98%;
    transition:background-position $default-transition;
    width: 100%;
    &:hover{
        background-position: 0% 98%;
    }
    /*&:before {
        display: inline-block;
        display: inline-flex;
        align-self: center;
        margin-right: $default-padding;
        width: 1em;
        height: 1em;
        border-radius: 100%;
        border: 1px solid white;
        content: "";
        transition: background 1s ease-out;
        background: radial-gradient( transparent 0%, transparent 60%);

    }*/
}
//cuando marcamos el radio
.od-radio:checked + .od-radio__label {
     color:$od-brand-primary ;
    font-weight: bold;
    // border-bottom-color:$od-brand-primary ;
    background-position: 0% 98%;
}
/*
.od-radio:checked + .od-radio__label {
    color:$od-brand-primary ;
    font-weight: bold;
    &:before{
    background: radial-gradient( $od-brand-primary  50%, transparent 60%);

    }
}*/