
@keyframes odonspinner__item {
  0% {
    transform: rotate(45deg) scale(1);
  }
  14% {
    transform: rotate(45deg) scale(1.3);
  }
  28% {
    transform: rotate(45deg) scale(1);
  }
  42% {
    transform: rotate(45deg) scale(2);
  }
  70% {
    transform: rotate(45deg) scale(1);
  }
}

/* :not(:required) hides this rule from IE9 and below */
.odonspinner__item:not(:required) {
  animation        : odonspinner__item 1300ms ease 0s infinite normal;
  display          : inline-block;
  position         : relative;
  overflow         : hidden;
  text-indent      : -9999px;
  width            : 36px;
  height           : 36px;
  transform        : rotate(45deg) scale(1);
  transform-origin : 50% 50%;
}
.odonspinner__item:not(:required):after, .odonspinner__item:not(:required):before {
 position      : absolute;
 content       : "";
 background    : $danger-color;
}
.odonspinner__item:not(:required):before {
 border-top-left-radius    : 12px;
 border-bottom-left-radius : 12px;
 top                       : 12px;
 left                      : 0;
 width                     : 36px;
 height                    : 24px;
}
.odonspinner__item:not(:required):after {
 border-top-left-radius  : 12px;
 border-top-right-radius : 12px;
 top                     : 0;
 left                    : 12px;
 width                   : 24px;
 height                  : 12px;
}

.odonspinner{
 width    : 100%;
 height   : 100%;
 position : fixed;
 z-index  : 99999;
 .odonspinner__item{
  position  : absolute;
  left      : calc(50% - 25px);
  top      : calc(50% - 25px);
  width     : 50px;
  height    : 50px;
  // transform : translate(-50%, -50%);
}
}