@mixin tabs ($num-of-tabs) {
	@for $i from 1 through $num-of-tabs {
		&:nth-of-type(#{$i}) {
			&:checked {
				~ .slide {
					left: calc((100% / #{$num-of-tabs}) * #{$i - 1});
				}
			}
		}
	}
}


.od-tabs__label{
	margin-top: 2px;
	text-transform: uppercase;
	margin-bottom: 0;
	font-weight: bold;
	font-size: 0.8em;
	float:left;
	cursor:pointer;
}

.tabs-radio {
  //por ser radios ya tienen display none
  &:checked {
  	+ .od-tab {
  		.od-tabs__label {
  			color: $od-brand-primary;
  			pointer-events:none;
  			 background-position: 5% 98%;
  		}
  		.od-tab__content {
  			display: block;

  		}
  	}
  }
  // @include tabs(2);
  &:first-of-type {
  	&:checked {
  		~ .slide {
  			left: 0;
  		}
  	}
  }
}

.od-tabs__label {
	cursor: pointer;
	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-right: $default-padding*2;
	transition: all  $default-transition;
	width: 100%;
	// todo el tema del degradado de abajo
	// outline:1px solid red;
	padding-bottom: $default-padding/2;
	background: linear-gradient(to right, $od-brand-primary 50%, transparent 50%);
	background-size: 203% 3px;
	background-repeat: no-repeat;
	background-position: 99% 98%;
	transition:background-position $default-transition;
	 &:hover{
        background-position: 5% 98%;
    }
}
.od-tab__content {
	// width: 230px;
	position: absolute;
	top: $default-padding*4;
	bottom: $default-padding/2;
	right:0;
	left: $default-padding;
	padding-right:  $default-padding;
    // line-height: 130%;
    display: none;
    overflow-y: auto;
    // outline: 1px solid red;

}