.od-timeline{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items:center;

}
.od-timeline__item{

	line-height: 12px;
	list-style: none;
	padding: $default-padding 0;
	padding-left:1.5em;
	cursor:pointer;
	position: relative;
	&:hover {
		background: rgba(#fff, 0.5);
		font-weight: bold;
	}
	&:before {
		content:"";
		display: inline-block;
		width: 12px;
		height:12px;
		border:4px solid $od-brand-primary;
		background: $azul-focus;
		border-radius:100%;
		margin-bottom: -5px;
		margin-right: 5px;

	}
	&--active {
		font-weight: bold;
		background: $turquesa;
		&:before {
			background: $turquesa;
			//border:4px solid $azul-focus;
		}
	}
}
.od-timeline__year{
	// text-align: center;
	list-style: none;
	font-weight: bold;
	cursor: pointer;
	user-select:none;
	// para la flecha
	&:after {
		padding:0  $default-padding/2;
		content:"";
		display: inline-block;
		background: url('#{$img-path}svg/ui/dropdown.svg');
		width: 1em;
		height: .5em;
		background-size: 100% 100%;
		transition:transform $default-transition;
		transform: rotate(-180deg);

	}
	&--collapsed {
		&:after {
			transform: rotate(0deg);
		}
	}
	&--nochildren {
		&:after{
			display:none;
			cursor:default;
		}
	}
//fin de flechas
}

.od-timeline__year, .od-timeline__item{
	box-sizing: border-box;
	width: 100%;
	// outline:1px solid red;
	background: linear-gradient(to right,  $gris 1px, transparent 1px);
	background-size: 100% 1px;
	background-repeat: repeat-y;
	background-position: calc( 1.5em + 10px) 0; //10 es la mitad del ancho del circulo + 4 del borde
}

