.view-title {
	border-bottom: 1px solid $gris;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.view-subtitle {
	border-bottom: 1px dotted $gris;
	padding-bottom: 10px;
	margin-bottom: 10px;
}