/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-path}fonts/montserrat-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat-Regular'),
       url('#{$font-path}fonts/montserrat-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$font-path}fonts/montserrat-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$font-path}fonts/montserrat-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('#{$font-path}fonts/montserrat-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$font-path}fonts/montserrat-v6-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('#{$font-path}fonts/montserrat-v6-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat-Bold'),
       url('#{$font-path}fonts/montserrat-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$font-path}fonts/montserrat-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$font-path}fonts/montserrat-v6-latin-700.woff') format('woff'), /* Modern Browsers */
       url('#{$font-path}fonts/montserrat-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$font-path}fonts/montserrat-v6-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* hind-300 - latin */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 300;
  src: url('#{$font-path}fonts/hind-v5-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Hind Light'), local('Hind-Light'),
       url('#{$font-path}fonts/hind-v5-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$font-path}fonts/hind-v5-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$font-path}fonts/hind-v5-latin-300.woff') format('woff'), /* Modern Browsers */
       url('#{$font-path}fonts/hind-v5-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$font-path}fonts/hind-v5-latin-300.svg#Hind') format('svg'); /* Legacy iOS */
}
/* hind-regular - latin */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-path}fonts/hind-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Hind Regular'), local('Hind-Regular'),
       url('#{$font-path}fonts/hind-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$font-path}fonts/hind-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$font-path}fonts/hind-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('#{$font-path}fonts/hind-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$font-path}fonts/hind-v5-latin-regular.svg#Hind') format('svg'); /* Legacy iOS */
}
/* hind-500 - latin */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 500;
  src: url('#{$font-path}fonts/hind-v5-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Hind Medium'), local('Hind-Medium'),
       url('#{$font-path}fonts/hind-v5-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$font-path}fonts/hind-v5-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$font-path}fonts/hind-v5-latin-500.woff') format('woff'), /* Modern Browsers */
       url('#{$font-path}fonts/hind-v5-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$font-path}fonts/hind-v5-latin-500.svg#Hind') format('svg'); /* Legacy iOS */
}
/* hind-600 - latin */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 600;
  src: url('#{$font-path}fonts/hind-v5-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Hind Semibold'), local('Hind-Semibold'),
       url('#{$font-path}fonts/hind-v5-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$font-path}fonts/hind-v5-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$font-path}fonts/hind-v5-latin-600.woff') format('woff'), /* Modern Browsers */
       url('#{$font-path}fonts/hind-v5-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$font-path}fonts/hind-v5-latin-600.svg#Hind') format('svg'); /* Legacy iOS */
}
/* hind-700 - latin */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  src: url('#{$font-path}fonts/hind-v5-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Hind Bold'), local('Hind-Bold'),
       url('#{$font-path}fonts/hind-v5-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$font-path}fonts/hind-v5-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$font-path}fonts/hind-v5-latin-700.woff') format('woff'), /* Modern Browsers */
       url('#{$font-path}fonts/hind-v5-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$font-path}fonts/hind-v5-latin-700.svg#Hind') format('svg'); /* Legacy iOS */
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('#{$font-path}fonts/MaterialIcons-Regular.woff2') format('woff2'),
       url('#{$font-path}fonts/MaterialIcons-Regular.woff') format('woff'),
       url('#{$font-path}fonts/MaterialIcons-Regular.ttf') format('truetype');
}