

$azul-light 			:#edf1f2;
$azul-dark				:#1c2b36;
$azul-darkest			:#0f1922;
$azul-focus				:#e4f6f7;
$turquesa				:#3bc0c3;
$verde					:#4dbd74;
$gris					:#878b8f;
$gris-medio-claro		:#bcbcbc;
$gris-claro				:#e5e5e5;
$gris-masClaro			:#f8f8f8;
$rojo					:#e95a5c;
$naranja				:#e95d0f;
$rojo-corazon       	:#ec1115;
$lila:#8775a7;
$lima:#A6CC3F;


// APLICACIONES
$text-color	      : $gris !default;
$text-contratipo  : $gris-claro;
$main-bgcolor	  : $azul-light;
$secondary-color  : $turquesa;
$od-brand-primary : $turquesa;
$op-red-color     : $rojo;
$op-blue-color    : lighten($turquesa,30%);
$txt-blue-color	   :$turquesa;
$danger-color	  :$rojo-corazon;
$warning-color    : #ff9900;
$success-color    : $verde;
$fill-color 	     : #FFFFFF;
$stroke-color 	   : #000000;

//ESPACIOS
$default-padding:10px;
$padding-base-vertical    : 10px;
$padding-base-horizontal  : 15px;

$padding-large-vertical   : 15px;
$padding-large-horizontal : 18px;

$padding-small-vertical   : 6px;
$padding-small-horizontal : 12px;

$padding-xs-vertical      : 2px;
$padding-xs-horizontal    : 6px;

$line-height-large        : 1.3333333;
$line-height-small        : 1.5;
$border-radius-base       :1px;
$border-radius-large      : 2px;
$border-radius-small      : 0px;

//TRANSICIONES Y EFECTOS
$default-transition: .4s ease-out;
$default-shadow         : 0 0 2px rgba(0,0,0,0.5);
$thin-shadow            : 0 0 1px rgba(0,0,0,0.2);
$wide-shadow         	: 0 0 10px rgba(0,0,0,0.2);
$border-radius-base       :2px;


//TIPOGRAFIA

$font-primary:  	"Hind", sans-serif ;
$font-secondary:  	"Montserrat", sans-serif;
$font-size-base:14px;
$font-size-large:         ceil(($font-size-base * 1.25)) !default;
$font-size-small:         ceil(($font-size-base * 0.85)) !default;

//LAYOUT
$sidebar-width			:290px;



//CODIGOS DE ICONOS
$icon-close:			"\e5cd";
$icon-edit:				"\e3c9";
$icon-event:			"\e878";
$icon-font:				'Material Icons';
$icon-unfold-more:		"\e5d7";
$icon-search:			"\e8b6";

//VARIABLES PISADAS A BOOTSTRAP (que no usamos de momento, pero que algunos mixins de MVC sí que dependían de ello)


$body-bg:            		$main-bgcolor!default;
$font-family-sans-serif:  	"Montserrat", sans-serif !default;
$font-size-base:          	13px !default;
$brand-primary:         	$verde !default;
$text-color:				$gris !default;
$brand-danger:         		$rojo !default;


//== Buttons
$default-border-color: $gris-claro;